@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

body {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* shared styles */
.container {
    max-width: 100%;
    margin: 0 auto;

    /* border: 2px solid rebeccapurple; */
    /* background-color: aqua; */
}

.content {
    max-width: 1060px;
    margin: 3rem auto;

    /* border: 2px solid white; */
}


.btn-primary {
    width: 205px;
    height: 50px;
    background: rgb(230, 83, 60);
    border-radius: 42px;
    border: none;

    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 10px 25px;
}



/* ------------------ */
/* header */
/* ------------------ */

.header {
    background: linear-gradient(180deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%), 
    linear-gradient(0deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.2) 100%);
}

/* nav-bar styles */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    margin: 0 auto;
}

.logo {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

.nav-menu {
    width: 465px;
    height: 46px;
    font-size: 18px;
    font-weight: 400;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-home-btn {
    background: rgb(230, 83, 60);
    width: 70px;
    height: 22px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 46px;
    padding: 8px 30px;
}

.menu {
    display: none;
}


/* shape-healthy-section styles */
.shape-healthy-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.shape-healthy-text {
    width: 520px;
}

.shape-healthy-section h1 {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 20px;
}

.shape-healthy-section p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

#shape {
    font-family: 'Miama', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 150px;
    font-weight: 400;
}

.shape-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.download-btn {
    width: 205px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    box-sizing: border-box;
    background-color: rgb(17, 17, 17);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 10px 25px;
}

.shape-healthy-image img {
    width: 100%;
}

.tutorial-circle {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

.tutorial h3 {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 18px;
}

.tutorial {
    width: 206px;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);

    transform: translateX(-110px) translateY(-165px);

    margin-bottom: -200px;
}

.fa-caret-right {
    color: white;
    position: absolute;
    transform: translate(-65px);
}

.workout-video h3 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    padding-left: 15px;
    padding-top: 15px;
}

.workout-video p {
    padding-left: 15px;
}

.workout-video {
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);

    transform: translateX(230px) translateY(-350px);
}


/* ------------------ */
/* main */
/* ------------------ */

.main {
    background: rgb(0, 0, 0);
    /* background: rgb(47, 123, 148); */
    /* margin: 0 auto; */
    margin-top: -50px;
    padding-bottom: 50px;
}

/* change-habit-section styles */
.change-habit-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    margin: 0 auto;
}

.change-habit-text {
    width: 671px;
    text-align: center;
    margin: 0 auto;
}

.change-habit-text h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    padding: 10px;
}

.change-habit-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

.change-habit-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.habit-img-cart {
    width: 230px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.habit-img-cart > img {
    border-radius: 50%;
    border: 4px solid rgb(53, 53, 53);
}

.habit-img-cart > h3 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-top: 30px;
    margin-bottom: 6px;
}

.habit-img-cart > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;

    /* extra line  */
    margin-bottom: 22px;
}

/* run-section styles */
.run-section {
    max-width: 1060px;
    height: 371px;
    border-radius: 18px;
    background: rgb(34, 34, 34);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

.run-text {
    max-width: 410px;
    height: 290px;
    text-align: left;
}

.run-text > h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    margin: 14px 0px;
}

.run-text > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 14px 0px;
}

.run-img > img{
    width: 366px;
    height: 300px;
    border-radius: 18px;
}


/* training-section styles */
.training-text {
    width: 671px;
    /* height: 120px; */
    margin-bottom: 40px;
}

.training-text > h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin: 14px 0;
}

.training-text > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.training-cart > img {
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

.training-row-1,
.training-row-2 {
    display: grid;
    /* height: 180px; */
    grid-template-rows: 180px;

}

.training-row-1 {
    /* grid-row: 180px; */
    grid-template-columns: 0.8fr 1.3fr 0.9fr;
}

.training-row-2 {
    /* grid-row: 180px; */

    grid-template-columns: 1.1fr 0.9fr 1fr;
    margin-top: -5px;
    margin-bottom: -5px;
}

.training-cart {
    position: relative;
}

.img-1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(6, 255, 210, 0.5);
}

.img-2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.3);
}

.img-3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.img-4::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.img-5::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(66, 255, 0, 0.3);
}

.img-6::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 71, 255, 0.3);
}

.training-cart > .training-p-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    font-size: 14px;
    font-weight: 500;
    transform: translate(-240%, 330%);
}

.training-cart > .training-p-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transform: translate(-340%, -450%);
}


.training-cart > .training-p-3,
.training-cart > .training-p-5,
.training-cart > .training-p-6 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transform: translate(-80%, 100%);
}

.training-cart > .training-p-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transform: translate(10%, -200%);
}

.training-cart > .training-p-5 {
    font-size: 13px;
}

/* team section */
.team-text {
    max-width: 671px;
    margin: 58px auto;
}

.team-text > h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.team-text > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

.trainer-img > img {
    width: 100%;
    height: 272px;
    object-fit: cover;
    border-radius: 18px;
}

.team-img {
    width: 1060px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.trainer-img-text > h2 {
    color: rgba(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}

.trainer-img-text > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.trainer-img {
    position: relative;
}

.trainer-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, 150%);
}

.trainer-1 > .trainer-img-text {
    transform: translate(-125%, 150%);
}

.trainer-3 > .trainer-img-text,
.trainer-4 > .trainer-img-text,
.trainer-6 > .trainer-img-text {
    transform: translate(-100%, 150%);
}


.trainer-img::before {
    content: '';
    position: absolute;
    width: 100%;
    /* height: 100%; */
    height: 272px;

    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
}

/* ------------------ */
/* footer */
/* ------------------ */

.footer {
    background-color: rgb(35, 35, 35);
    padding-top: 50px;
    padding-bottom: 25px;
}

.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
}

.footer-t1 {
    width: 443px;
}

.footer-t1 > h1 {
    font-size: 70px;
    font-weight: 800;
}

.footer-t1 > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
}

.footer-t2, .footer-t3 {
    width: 183px;
}


.footer-text h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 250%;
    letter-spacing: 0%;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    line-height: 200%;
}

.footer-copy > p {
    width: 325px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;    
    margin: 1rem auto;
}

/* ------------------ */
/* responsive styles */
/* ------------------ */

/* small device */
@media screen and (max-width: 576px) {
    /* header */

    /* nav-bar */
    .nav-bar {
        width: 353px;
        margin-top: 0;
    }

    .menu {
        display: block;
        color: white;
    }

    .nav-menu {
        display: none;
    }

    /* shape-healthy-section */
    .shape-healthy-section {
        flex-direction: column;
        gap: 3rem;
    }

    .shape-healthy-text {
        width: 352px;
    }
    
    .shape-healthy-text h1 {
        font-size: 36px;
        width: 285px;
    }

    .shape-healthy-text p {
        width: 274px;
    }

    #shape {
        font-size: 59px;
    }

    .btn-primary, .download-btn{
        width: 169px;
        font-weight: 600;
        padding: 16px 20px;
    }

    .shape-btns {
        gap: 0.8rem;
    }

    #club {
        display: none;
    }

    .tutorial-circle {
        width: 30.24px;
        height: 30.24px;
    }

    .tutorial h3 {
        font-size: 19px;
    }

    .tutorial p {
        font-size: 12px;
    }
    
    .tutorial {
        width: 155.74px;
        height: 72.58px;
        border-radius: 9.07px;

        transform: translateX(10px) translateY(-320px);   
        margin-bottom: -150px;
    }

    .fa-caret-right {
        transform: translate(-50px);
    }

    .workout-video h3 {
        font-size: 24px;
        line-height: 25px;
    }
    
    .workout-video p {
        font-size: 9.83px;
    }
    
    .workout-video {
        width: 130px;
        height: 74px;
        border-radius: 9px;
    
        transform: translateX(195px) translateY(-450px);
    }
    

    /* main */

    /* change-habit-section */
    .change-habit-text {
        width: 338px;
        margin-top: -60px;
    }

    .change-habit-text > h1 {
        font-size: 32px;
    }

    .change-habit-img {
        flex-direction: column;
        gap: 40px;
    }

    /* run-section */
    .run-section {
        max-width: 350px;
        height: 531px;
        flex-direction: column;
        margin-top: 3rem;
    }

    .run-text {
        width: 273px;
        height: 264px;
    }

    .run-text > h1 {
        font-size: 32px;
    }

    .run-img > img {
        width: 287px;
        height: 170px;
    }

    .btn-run {
        width: 273px;
    }

    /* training-section */
    .training-section {
        width: 350px;
        /* margin: 0 auto; */
    }

    .training-text {
        width: 350px;
        /* margin-bottom: 70px; */
    }

    .training-text > h1 {
        font-size: 32px;
    }

    .img-2 > img {
        object-position: 65%;
    }

    .img-4 > img {
        object-position: 45%;
    }

    .training-row-1 {
        grid-template-columns: 1.05fr 0.95fr ;
    }
    
    .training-row-2 {
        grid-template-columns: 0.9fr 1.1fr;
    }

    .img-3, .img-6, .txt-none {
        display: none;
    }

    .training-cart > .training-p-1 {
        color: white;
        transform: translate(-180%, 220%);
    }

    .training-cart > .training-p-2 {
        transform: translate(-100%, -300%);
    }

    .training-cart > .training-p-4,
    .training-cart > .training-p-5 {
        font-size: 14px;
        transform: translate(-80%, 170%);
    }

    /* team-section */
    .team-text {
        width: 348px;
    }

    .team-text > h1 {
        font-size: 32px;
    }

    .team-img {
        width: 350px;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }

    .trainer-1, .trainer-4 {
        display: none;
    }


    /* footer */
    .footer {
        padding: 25px;
    }

    .footer-content {
        width: 350px;
    }

    .footer-text {
        flex-direction: column;
    }

    .footer-t1 {
        width: 317px;
    }
}